.login {
  width: 90%;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0.5rem;
}
.login form {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-around; */
}
.control {
  margin: 1rem 0;
  display: flex;

  flex-direction: column;
}

.control label,
.control input,
.control select {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input,
.control select {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #2c5f2d;
  background: #d8f0d8;
}
.control select:focus {
  border-color: #2c5f2d;
}
.control.invalid select {
  border-color: red;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}
@media (min-width: 800px) {
  .login form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .control {
    /* align-items: center; */
    flex-direction: column;
  }
}

.actions {
  text-align: center;
}
